<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  
</head>
<body>
    <div class="bg-primary p-3 h3">More Details</div>
    <ul class="bg-dark fw-bold text-light  m-2  p-2 ">
        <li>Age: <%= user.Age %></li>
        <li>Gender: <%= user.Gender %></li>
        <li>Occupation: <%= user.Occupation %></li>
        <li>Email: <%= user.Email %></li>
        <li>Name: <%= user.Name %></h6>
        <br/>
        <button class="bg-dark">
            <a href="http://localhost:3030/api/v1/users">Back</a>
        </button>
    </ul>

 
 
</body>
</html>